.app-container {
    font-family: sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
}

/* --- NAVBAR --- */
.navbar {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-login-btn {
    color: #333;
    background-color: white;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

.nav-login-btn:hover {
    background-color: #e0e0e0;
}

/* --- FORM LOGIN / SIGNUP --- */
.errorMsg {
    background-color: #ffe6e6;
    color: #d93025;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px
}

.form-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-submit-btn {
    margin-bottom: 20px;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-submit-btn:hover {
    background-color: #0056b3;
}

.form-footer {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}

.form-link {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}